*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    max-width: 1000px;
    margin: auto;
}
#banner{
    display: flex;
    gap: 50px;
    padding: 100px;
}
#banner div:nth-child(){
    @media (max-width:776px){
        flex-direction:column-reverse;
    }
}
#banner h1{
    font-size: 30px;
}
#banner p{
    font-size: 15px;
}

