body{
    color: rgb(2, 45, 84);
    background: rgb(203, 230, 230);
}
table,td,th{
            border: 3px solid rgba(7, 89, 90, 0.937);
            background-color: rgb(254, 238, 217);
            text-align: center;
            border-collapse: collapse;
        }
h2{
    color: rgb(7, 97, 7);
}   
